@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&family=Satisfy&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.201);
}

.banner {
    color: white;
    display: flex;
    background-color: black;
}

.location {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 15px;
}

.location-icono {
    width: 16px;
    height: 16px;
}

.redes-sociales-lista {
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.redes-sociales-lista li {
    padding: 5px;
}

.redes-sociales-icono {
    width: 1rem;
    height: 1rem;
}

.location span {
    padding: 5px;
    font-size: 10px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/images/backgrounds/backgrounds5.jpg);
    background-size: cover;
    background-position: center;
}

.imagotipo {
    padding: 5px 5px 5px 5px;
}

.imagotipo img {
    width: 20rem;
    height: 10rem;
}

.navbar ul {
    display: flex;
    gap: 20px;
    margin: 1.25rem 0px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li {
    padding: 5px;
}

.navbar ul li :hover {
    background-color: #7d50487c;

    border-radius: 1rem;
    padding: 5px;
}

main {
    padding-bottom: 12.5rem;
}

footer {
    background-color: #7d50485e;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12.5rem;
    display: flex;
}

footer div {
    padding: 18px;
    flex: 1;
    display: flex;
    flex-direction: column;

}

.logo-copyright {
    padding-left: 3rem;
}

.logo-copyright img {
    width: 6.25rem;
    height: 6.0625rem;
}

.marca-nombre {
    font-family: 'Satisfy', sans-serif;
}

.location-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.ubicacion-geografica {
    display: flex;
    flex-direction: row;
    /* width: 300px; */
    align-items: end;
}

.location-icono-footer {
    width: 1rem;
    height: 1rem;
    /* margin-right: 15px; */
}

.cuidad-pais-nombre {
    /* margin-left: 15px; */
}

.telefono {
    /* width: 300px; */
    display: flex;
    flex-direction: row;
    align-items: start;
}

.whatsapp-icono {
    width: 1rem;
    height: 1rem;
    /* margin-right: 15px; */
}

.telefono-numero {
    font-size: small;
}

.redes-sociales-footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 3rem;
}

.redes-sociales-lista-footer {
    list-style: none;
    display: flex;
}

.redes-sociales-lista-footer li {
    padding: 5px;
}

.redes-sociales-icono-footer {
    width: 1rem;
    height: 1rem;
}

main {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-principal-titulo {
    margin-top: 40px;
}

.contenedor-principal-texto {
    border-radius: 20px;
    background-color: #e3c0ba4d;
    padding: 2rem;
    margin: 20px 100px 50px 100px;
}

.contenedor-proyectos-recientes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-proyectos-recientes-titulo {
    margin-top: 30px;
    margin-bottom: 1.25rem;
    display: flex;
}

.contenedor-proyectos-recientes-cards {
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #e3c0ba4d;
    border-radius: 20px;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.proyectos-recientes-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-img {
    width: 15rem;
    height: 20rem;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.418);
}

.card-texto-descriptivo {
    width: 12rem;
    font-weight: 600;
    padding-left: 1.5rem;
}

.contenedor-principal-equipo-imagenes{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    flex-wrap: wrap;

}

.contenedor-nuestros-valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contenedor-nuestros-valores-lista{
    display: flex;
}

.lista-valores{
padding: 40px;
}

.card-valores{
    list-style: none;
    background-color: #e3c0ba4d;
    margin-bottom: 15px; 
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
}

.card-valores-titulo{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.card-valores-descripcion{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px  10px  30px ;
}