@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&family=Satisfy&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    background-color: rgba(0, 0, 0, 0.201);
}

.banner{
    color: white;
    display: flex;
    background-color: black;
}

.location{
    display: flex; 
    flex: 1;
}

.redes-sociales-lista {
    list-style: none;
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.redes-sociales-lista li{
    padding: 5px;
}

.location span{
    padding: 5px;
}

.navbar{
    display: flex;
    flex-direction: column;   
    align-items: center;
    background-image: url(../assets/images/backgrounds/backgrounds5.jpg);
    background-size: cover;
    background-position: center;
}

.logo{
    padding: 5px 5px 5px 5px;
}

.logo img {
    width: 20rem;
    height: 10rem;
}

.navbar ul{
    display: flex;
    gap: 20px;
    margin: 1.25rem 0px;
    list-style-type: none; 
} 

.navbar ul li a {
    color: white;
    text-decoration: none;
}



.navbar ul li{
    padding: 5px;
}

.navbar ul li :hover{
    background-color: #e3c0ba69;
    
    border-radius: 1rem;
    padding: 5px;
}